@media (any-hover) {
	.nav__link:hover {
		background-image: linear-gradient(83deg, #00c0fd 100%, #e70faa 0%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.phone__link:hover {
		color: #37c6d0;
	}
	
	.mail__link:hover {
		color: #00c0fd; 
	}

}


@media (max-width: 1279px) {


}

@media (max-width: 1023px) {



}

@media (max-width: 767px) {



}

@media (max-width: 575px) {
  


}
