/* #region---Basic reset&general_styles */
html {
	box-sizing: border-box;
	scroll-behavior: smooth
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

h1,
h2,
h3,
p,
ul {
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	width: 100%;
}

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}


:root {
	--gap: ;
	--color-dark: #191919;
	--color-light-content: #a7a7a7; 
	--time: .2s;
	--style: ease-in-out;
	--background-transition: background var(--time) var(--style);
	--color-transition: color var(--time) var(--style);
	--outline-transition: outline var(--time) var(--style);
	--opacity-transition: opacity var(--time) var(--style);
	--border-transition: border var(--time) var(--style);
}


body {
	font-family: 'Poppins', sans-serif;
	background-color: var(--color-dark);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);
}

.list-reset {
	margin: 0;
	padding: 0;
	list-style: none;
}

.btn-reset {
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.flex {
	display: flex;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1170px;

}

.section-title {}

.section-subtitle {}

.section-descr {}

/* #endregion */

/* header */
.header__logo {
	margin-right: 200px;
	width: 30px;
	height: 38px;
}

.nav__item {
margin-right: 65px;
}


.nav__link {
font-weight: 500;
font-size: 20px;
line-height: 1.3;
color: var(--color-light-content);
}